*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height: 5rem;
    background-color: rgb(197, 184, 184);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button{
    margin:1rem  .3rem;
}


@media screen and (max-width: 425px){
    .header{
        justify-content: flex-start;
        gap: 5rem;
    }
    .header img{
        height: 64px;
        width: 64px;
    }
    
    #btnsize{
        font-size: 12px !important;
    }

}
@media screen and (max-width: 350px){
    .header{
        justify-content: flex-start;
        gap: 3rem;
    }
    .header img{
        height: 64px;
        width: 64px;
    }
    
    #btnsize{
        font-size: 12px !important;
    }

}
@media screen and (max-width: 290px){
    .header{
        justify-content: flex-start;
        gap: 1rem;
    }
    .header img{
        height: 64px;
        width: 64px;
    }
    
    #btnsize{
        font-size: 12px !important;
    }

}
